@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
body {
  background: #eee;
}

.main {
  min-height: 100vh;
  margin: 1rem;
  background: #eee;
}

.header {
  background: #1167b1;
  min-width: 100vh;
  height: 150px;
}

.header-txt {
  color: white;
  font-size: 1.5rem;
  text-align: justify;
  padding: 1rem 0rem 0rem 1rem;
  display: inline;
  float: left;
}

.header-img {
  width: 100px;
  height: 125px;
  float: right;
  padding-top: 1rem;
}

.form-container {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.main-input,
.submit-btn,
.main-select {
  outline: none;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
  border: none;
  background: white;
}

.submit-btn {
  color: white;
  background: #1167b1;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background: white;
  color: #1167b1;
}

.container-ppal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 1rem 5rem;
}

.lista-actos {
  list-style: none;
  padding-inline-start: 0px;
}

.actos-container {
  margin: 0.5rem;
  font-size: 1rem;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acto,
.timer {
  margin: 1rem;
  flex: 1;
  max-width: 33.3%;
}

.check-btn {
  background: white;
  color: #1167b1;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
  flex: 0.05;
  max-width: 33.3%;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.check-btn:hover {
  background: #1167b1;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-link {
  color: black;
  transition: all 0.3s ease;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.footer-link:hover {
  color: grey;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .header-txt {
    font-size: 1rem;
  }

  .main {
    display: grid;
  }

  .form-container {
    margin-right: 1.3rem;
  }
}

@media only screen and (max-widht: 600px) {
  .header-txt {
    font-size: 1rem;
  }

  .main {
    display: grid;
  }
}
